.holder{
    height:300px;
    width:60%;
    position: relative;
    background-color: black;
    overflow: hidden;
    border-radius: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: aliceblue;
    border: 1px solid rgb(152, 152, 152);
}